body {
    margin: 25px;
    background-image: url("bkg.jpg");
    cursor: url("cursor.png"), auto;
}

h1 { 
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 25px;
    max-width: 235px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    color: white
}

h3 {
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 15px;
    max-width: 100px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    color: white
}

ul {
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 25px;
    max-width: 150px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 15px;
}

p {
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 25px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 15px;  
}

img {
    width: 400px;
    max-width: 700px;
    box-shadow: 0 0 5px 5px black; 
    margin: 0 auto 1em auto;
    display:block
}
