body {
    margin: 25px;
    background-image: url("bkg.jpg");
    cursor: url("https://i.postimg.cc/RCHJxS2r/Screenshot-2025-11-17-10-21-06-PM.png");
}

h1 { 
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 25px;
    max-width: 235px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    color: white
}

ul {
    background-color: black;
    box-shadow: 0 0 5px 5px black;
    margin: 25px;
    max-width: 150px;
    border: 5px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 15px;
}